.flex-header {
    display: flex;
    justify-content: flex-end;
    background-color: darkblue;
    color: azure;
    padding-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
        "sidebar todayContainer"
        "sidebar forecastContainer";
    gap: 20px;
    height: 100%;
    animation: fadeIn 1s ease-in-out;
}



h2 {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#city {
    margin-left: 10px;
    padding: 5px;
}

.btn btn-info {
    display: inline-block;
}

#sidebar {
    grid-area: sidebar;


}

.todayContainer {
    grid-area: todayContainer;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid navy;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-container {
    grid-area: forecastContainer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.forecastContainer {
    text-align: center;
}

.card {
    padding: 1rem;
    border-radius: 8px;
    background-color: azure;
}

.five-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.searchHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}